* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  padding: 0;
  font-family: "Kosugi Maru", sans-serif;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.back-ground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1f5770;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
@keyframes avatar-animation {
  0% {
    transform: scale(0);
    transform-origin: bottom;
  }
  80% {
    transform: scale(1.1);
    transform-origin: bottom;
  }
  100% {
    transform: scale(1);
    transform-origin: bottom;
  }
}
@keyframes repley-animation {
  0% {
    transform: scale(0);
    transform-origin: left bottom;
  }
  100% {
    transform: scale(1);
    transform-origin: left bottom;
  }
}

@keyframes me-animation {
  0% {
    transform: scale(0);
    transform-origin: right bottom;
  }
  100% {
    transform: scale(1);
    transform-origin: right bottom;
  }
}

.messagesContainer {
  margin: 0 auto;
  max-width: 768px;
  padding: 100px 40px 85px;
  display: flex;
  flex-direction: column;
  .talk {
    position: relative;
    margin-bottom: 32px;
    flex-direction: column;
    display: flex;
    opacity: 0;
    &.loaded {
      opacity: 1;
    }
    img.talkIcon {
      position: absolute;
      border-radius: 50%;
      height: 42px;
      user-select: none;
      bottom: 0;
      opacity: 0.9;
      cursor: pointer;
      filter: drop-shadow(0px 0px 2px #fff);
    }
    .talkText {
      padding: 4px 16px 2px;
      background-color: #fff6;
      border: solid 3px #fff;
      border-radius: 5px;
      width: fit-content;
      font-size: 1.3em;
      line-height: 1.3em;
      text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff,
        1px -1px 0 #fff, 0px 1px 0 #fff, 0-1px 0 #fff, -1px 0 0 #fff,
        1px 0 0 #fff;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
    .talkImage {
      max-width: 80%;
      height: auto;
      max-height: 300px;
      margin-bottom: 15px;
      opacity: 0.9;
      border-radius: 5px;
      border: solid 3px #fff;
      cursor: pointer;
    }
    &.new {
      img.talkIcon {
        animation: avatar-animation 0.15s;
      }
    }
    &.reply {
      margin-left: 60px;
      align-items: flex-start;
      img.talkIcon {
        left: -70px;
        transform: scaleX(-1);
      }
      &.new {
        .talkText {
          animation: repley-animation 0.1s;
        }
      }
    }
    &.me {
      align-items: flex-end;
      margin-right: 60px;
      img.talkIcon {
        right: -70px;
      }
      &.new {
        .talkText {
          animation: me-animation 0.2s;
        }
      }
    }
  }
}
@keyframes loading {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.isLoading {
  background-color: #0006;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 99;
  svg {
    animation: loading 1.2s infinite linear;
    color: #fff;
  }
}
.sendForm {
  z-index: 3;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(#aaa, #666);
  .formContainer {
    margin: 0 auto;
    max-width: 768px;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .arrow-btn {
      cursor: pointer;
      padding-bottom: 3px;
    }
    label.imageLabel {
      padding-right: 4px;
      margin-right: 4px;
      display: block;
      cursor: pointer;
      input[type="file"] {
        display: none;
      }
    }
    .textArea {
      line-height: 24px;
      font-size: 20px;
      width: calc(100% - 10px);
      border: none;
      padding: 5px;
      background-color: #fafafa;
      border-radius: 3px;
      font-family: "Kosugi Maru", sans-serif;
      resize: none;
      margin: 0 5px;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: #ccc;
        font-size: 0.8em;
      }
    }
    .sendBtn {
      background: none;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
    }
    .more-horiz-btn {
      margin: 1px 9px 1px 10px;
      cursor: pointer;
    }

    .imageName {
      color: #fff;
      max-width: 100px;
      white-space: nowrap;
      padding-right: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        svg {
          max-height: 18px;
          max-width: 18px;
        }
      }
    }
  }
  .ex-messages {
    position: absolute;
    bottom: 100%;
    background-color: #fffb;
    width: 100%;
    padding: 5px 15px;
    height: 250px;
    overflow-y: scroll;
    .ex-messages-inner {
      margin: 0 auto;
      max-width: 700px;
      position: relative;
      p {
        text-align: center;
        border-bottom: solid 1px #ccc;
        padding: 16px 0;
        margin: 0;
        cursor: pointer;
      }
    }
    .close-ex-messages-btn {
      position: absolute;
      top: 5px;
      right: 0;
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

.singin-btn {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #fffa;
  button {
    background-color: #0fafaa;
    color: white;
    font-size: 16px;
    border: none;
    font-weight: bolder;
    padding: 10px 25px;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
      background-color: #128e8a;
    }
  }
}
.modal-overlay {
  background-color: #3338;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  cursor: pointer;
  .modal-content {
    background-color: #fff;
    border-radius: 15px;
    padding: 100px 15px;
    width: min(600px, 90%);
    position: relative;
    cursor: default;
    .modal-close-btn {
      position: absolute;
      right: 15px;
      top: 10px;
      cursor: pointer;
    }
  }
}
.logout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    background-color: #0fafaa;
    color: white;
    font-size: 16px;
    border: none;
    font-weight: bolder;
    padding: 10px 25px;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
      background-color: #128e8a;
    }
  }
}
