* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  padding: 0;
  background-color: #1f5770;
  font-family: "Kosugi Maru", sans-serif;
  scrollbar-width: none;
  overscroll-behavior-y: none;
  position: relative;
  &::-webkit-scrollbar {
    width: 8px;
    top: 0;
    right: 0;
    position: absolute;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #aaa;
  }
}
@keyframes avatar-animation {
  0% {
    transform: scale(0);
    transform-origin: bottom;
  }
  80% {
    transform: scale(1.1);
    transform-origin: bottom;
  }
  100% {
    transform: scale(1);
    transform-origin: bottom;
  }
}
@keyframes repley-animation {
  0% {
    transform: scale(0);
    transform-origin: left bottom;
  }
  100% {
    transform: scale(1);
    transform-origin: left bottom;
  }
}

@keyframes me-animation {
  0% {
    transform: scale(0);
    transform-origin: right bottom;
  }
  100% {
    transform: scale(1);
    transform-origin: right bottom;
  }
}

@keyframes img-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.messagesContainer {
  margin: 0 auto;
  max-width: 768px;
  padding: 500px 40px 85px;
  display: flex;
  flex-direction: column;
  .talk {
    position: relative;
    margin-bottom: 40px;
    flex-direction: column;
    display: flex;
    opacity: 0;
    &.loaded {
      opacity: 1;
    }
    img.talkIcon {
      position: absolute;
      border-radius: 50%;
      user-select: none;
      background-color: #1f5770;
      bottom: 0;
      opacity: 0.9;
      cursor: pointer;
    }
    .talkText {
      padding: 4px 16px 2px;
      background-color: #fff7;
      border: solid 3px #fff;
      border-radius: 5px;
      width: fit-content;
      font-size: 1.3em;
      line-height: 1.3em;
      text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff,
        1px -1px 0 #fff, 0px 1px 0 #fff, 0-1px 0 #fff, -1px 0 0 #fff,
        1px 0 0 #fff;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
    .talkImage {
      max-width: 72%;
      height: auto;
      margin-bottom: 15px;
      border-radius: 5px;
      background-color: #1f5770;
      border: solid 3px #fff;
      cursor: pointer;
    }
    .back-ground {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: calc(100vh - 68px);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      opacity: 1;
      transition: all 0.4s ease 0s;
      z-index: -1;
    }
    &.new {
      .talkText,
      .talkImage,
      img.talkIcon {
        transform: scale(0);
      }
      img.talkIcon {
        animation: avatar-animation 0.3s;
        animation-delay: 0.6s;
        animation-fill-mode: forwards;
      }
      .back-ground {
        animation: img-animation 0.3s;
      }
    }
    &.hidden .back-ground {
      opacity: 0 !important;
    }
    &.reply {
      margin-left: 20px;
      align-items: flex-start;
      img.talkIcon {
        left: -50px;
        transform: rotateY(180deg);
      }
      &.new {
        .talkText,
        .talkImage {
          transform: scale(0);
          animation: repley-animation 0.2s;
          animation-delay: 0.6s;
          animation-fill-mode: forwards;
        }
        img.talkIcon {
          transform: scale(0) rotateY(180deg);
        }
      }
    }
    &.me {
      align-items: flex-end;
      margin-right: 20px;
      img.talkIcon {
        right: -50px;
      }
      &.new {
        .talkText,
        .talkImage {
          animation: me-animation 0.2s;
          animation-delay: 0.6s;
          animation-fill-mode: forwards;
        }
        img.talkIcon {
          transform: scale(0);
        }
      }
    }
  }
}
@keyframes loading {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.isLoading {
  background-color: #1f5770aa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 99;
  padding-bottom: 70px;
  svg {
    animation: loading 1.2s infinite linear;
    color: #fff;
  }
}
.sendForm {
  z-index: 3;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(#aaa, #666);
  .formContainer {
    margin: 0 auto;
    max-width: 768px;
    padding: 7px 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .arrow-btn {
      cursor: pointer;
      padding-bottom: 3px;
    }
    label.imageLabel {
      padding-right: 4px;
      margin-right: 4px;
      display: block;
      cursor: pointer;
      input[type="file"] {
        display: none;
      }
    }
    .textArea {
      line-height: 20px;
      font-size: 16px;
      width: calc(100% - 10px);
      border: none;
      padding: 7px 14px;
      background-color: #fafafa;
      border-radius: 3px;
      font-family: "Kosugi Maru", sans-serif;
      resize: none;
      margin: 0 5px;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: #ccc;
        font-size: 0.8em;
      }
    }
    .sendBtn {
      background: none;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
    }
    .more-horiz-btn {
      margin: 1px 9px 1px 10px;
      cursor: pointer;
    }

    .imageName {
      color: #fff;
      max-width: 100px;
      white-space: nowrap;
      padding-right: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        svg {
          max-height: 18px;
          max-width: 18px;
        }
      }
    }
  }
  .ex-messages {
    position: absolute;
    bottom: 100%;
    background-color: #fff;
    width: 100%;
    padding: 5px 15px;
    height: 250px;
    overflow-y: scroll;
    .ex-messages-inner {
      margin: 0 auto;
      max-width: 700px;
      position: relative;
      p {
        text-align: center;
        border-bottom: solid 1px #ccc;
        padding: 16px 0;
        margin: 0;
        cursor: pointer;
      }
    }
    .close-ex-messages-btn {
      position: absolute;
      top: 5px;
      right: 0;
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

.singin-btn {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #fffa;
  button {
    background-color: #0fafaa;
    color: white;
    font-size: 16px;
    border: none;
    font-weight: bolder;
    padding: 10px 25px;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
      background-color: #128e8a;
    }
  }
}
.modal-overlay {
  background-color: #3338;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  cursor: pointer;
  .modal-content {
    background-color: #fff;
    border-radius: 15px;
    padding: 100px 15px;
    width: min(600px, 90%);
    position: relative;
    cursor: default;
    .modal-close-btn {
      position: absolute;
      right: 15px;
      top: 10px;
      cursor: pointer;
    }
  }
}
.logout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    background-color: #0fafaa;
    color: white;
    font-size: 16px;
    border: none;
    font-weight: bolder;
    padding: 10px 25px;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
      background-color: #128e8a;
    }
  }
}
